$background_color: white;
$text_color: black;

* {
  font-family: Cambria, calibri, Cochin, Georgia, Times, "Times New Roman",
    serif;

  /*cursor: default;*/
  cursor: none;
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  background: white;
  color: $text_color;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* LOADING */
.loader {
  width: 100vw;
  height: 100vh;
  background: $text_color;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    // content: "";
    // position: absolute;
    // border: 16px solid #f3f3f3;
    // border-top: 16px solid $text_color;
    // border-radius: 50%;
    // width: 130px;
    // height: 130px;
    // animation: spin 2s linear infinite;
    content: "Restaurant";
    position: absolute;
    color: $background_color;
    font-size: 2em;
    width: 130px;
    height: 130px;
    animation: fade 1.5s linear infinite;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
/* HOME */
header {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // background: lightblue url("photo/home_image.jpg") no-repeat fixed center;
  // background-size: cover;
  .bg-color {
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: #222222;
    position: absolute;
  }
  .background_image {
    position: absolute;
    width: 100vw;
    z-index: -1;
    opacity: 0.92;
  }
  .adresse {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 120%;
    p {
      display: inline;
      position: relative;
      padding-left: 6%;
      padding-right: 6%;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        background: $background_color;
        height: 1px;
        width: 10%;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        background: $background_color;
        height: 1px;
        width: 10%;
      }
    }
  }
  .nav-header-items {
    display: flex;
    justify-content: space-between;
    width: 47vw;
    font-style: italic;

    a {
      text-decoration: none;

      &:hover span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $background_color;
        left: 0;
        bottom: 0;
      }
    }
    span {
      font-size: 6vw;
      color: white;
      transition: 0.5s;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        background: white;
        left: 0;
        bottom: 0;
        transition: 0.3s;
      }
    }
  }
}

/* --- EAT --- */
@keyframes before_after {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.eat-container {
  text-align: center;

  h2 {
    margin-bottom: 5%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
    height: 1px;
    width: 1px;
  }
  h1 {
    text-align: center;
    display: inline;
    position: relative;
    font-style: italic;
    text-transform: uppercase;
    font-size: 3vw;
    &::before {
      content: "";
      position: absolute;
      left: -30%;
      top: 50%;
      background: $text_color;
      height: 1px;
      width: 20%;
      animation: before_after 0.5s;
      animation-delay: 0.35s;
    }
    &::after {
      content: "";
      position: absolute;
      right: -30%;
      top: 50%;
      background: $text_color;
      height: 1px;
      width: 20%;
      animation: before_after 0.5s;
      animation-delay: 0.35s;
    }
  }
  .item-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    // width: 80%;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;

    .plat-item-container {
      width: 300px;
      margin-top: 5%;
      p {
        margin-top: 5%;
      }
    }
  }
  .plats {
    margin-top: 10%;
  }
  .desserts {
    margin-top: 10%;
  }
  .item-container-2 {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    // width: 80%;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;

    .plat-item-container {
      width: 100%;
      margin-top: 5%;
      p {
        margin-top: 2%;
      }
    }
  }
  .container_all {
    background: $background_color;
  }
  .section-header {
    width: 100vw;
    height: 100vh;
    position: -webkit-fixed;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
  }
  header {
    height: 100%;
  }
  .section-invi {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position: absolute;
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
  }
  //les images entre les menues
  .image-container-entre {
    margin-top: 10vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 50vh;
    overflow: hidden;
    img {
      width: 100%;
      transform: translateY(-20%);
      transition: 0s;
    }
  }
}

/*--------- Menue ----------*/
nav {
  display: flex;
  padding: 20px;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 9vh;
  /* border-bottom: solid #424242 2px;*/
  transition-duration: 0.2s;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  ul {
    display: flex;
    flex-direction: row;
    color: $text_color;
    justify-content: space-around;
    width: 10%;
    li {
      color: #c49a68;
      list-style: none;
      font-weight: bold;
    }
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 1%;
    margin-left: 5%;
    font-size: 2vw;
    text-transform: uppercase;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #c49a68;
    color: #ff0000b8;

    background: rgb(157, 89, 121);
    background: linear-gradient(
      90deg,
      rgba(86, 133, 158, 1) 0%,
      rgba(157, 89, 121, 1) 100%
    );
    background-clip: text;
    color: transparent;
    animation: bg_span_gradient 10s infinite;
    background-size: 150%;
    transition: 0.5s;
  }
}
@keyframes bg_span_gradient {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
/*---- images slider -----*/

/* .images-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80vh;
  display: flex;
  flex-direction: row;
  background: lightcyan;
}
.images-container img {
  height: 75%;
  margin-top: 0.65%;
  margin-left: 1.5%;
  border-radius: 1%;
} */

/* --- footer --- */
footer {
  .container {
    background: $background_color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;

    p {
      line-height: 150%;
    }
    h3 {
      font-style: italic;
      font-size: 2vw;
    }
  }
}

/* -- about -- */
.about_container {
  background: #0f0f0f;
  color: white;
  text-align: left;
  .header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 100%;
      position: absolute;
    }
    .h1 {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.459);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;
    }
    h1 {
      z-index: 2;
      position: relative;
      font-size: 4vw;
      color: $background_color;
      transition: 1s;

      &::before {
        content: "";
        position: absolute;
        left: -30%;
        top: 50%;
        background: $background_color;
        height: 1px;
        width: 20%;
        animation: before_after 0.5s;
        animation-delay: 0.35s;
      }
      &::after {
        content: "";
        position: absolute;
        right: -30%;
        top: 50%;
        background: $background_color;
        height: 1px;
        width: 20%;
        animation: before_after 0.5s;
        animation-delay: 0.35s;
      }
    }
  }
  .chef_section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    .img_container {
      width: 23vw;
      position: relative;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 80%;
      //   height: 80%;
      //   top: 0;
      //   left: 0;
      //   border: 15px solid rgba(0, 0, 0, 0.856);
      //   border: 15px solid rgba(255, 0, 0, 0.521);

      //   transform: translate(-30px, 25%);
      //   z-index: 1;
      // }
      .border {
        position: absolute;
        width: 80%;
        height: 80%;
        top: 0;
        left: 0;
        border: 15px solid rgba(0, 0, 0, 0.856);
        border: 15px solid rgba(255, 255, 255, 0.88);
        transform: translate(-15%, 35%);
        opacity: 0.7;
      }
      .image {
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        position: relative;
      }
      img {
        width: 100%;
      }
    }
    .text_container {
      width: 27vw;
      opacity: 0.9;
      h1 {
        font-size: 3em;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-style: italic;
        &::after,
        &::before {
          background: #0f0f0f;
        }
      }
      p {
        margin-top: 7%;
        line-height: 130%;
        font-size: 1.1em;
      }
    }
  }
  .produit_section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    .img_container {
      width: 23vw;
      position: relative;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 80%;
      //   height: 80%;
      //   top: 0;
      //   left: 0;
      //   border: 15px solid rgba(0, 0, 0, 0.856);
      //   border: 15px solid rgba(255, 255, 255, 0.767);

      //   transform: translate(25%, 25%);
      // }
      .border {
        position: absolute;
        width: 90%;
        height: 80%;
        top: 0;
        left: 0;
        border: 15px solid rgba(0, 0, 0, 0.856);
        border: 15px solid rgba(255, 255, 255, 0.88);
        transform: translate(25%, -15%);
        opacity: 0.7;
      }
      .image {
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        position: relative;
      }
      img {
        width: 100%;
      }
    }
    .text_container {
      width: 27vw;
      opacity: 0.9;
      h1 {
        font-size: 3em;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-style: italic;
      }
      p {
        margin-top: 7%;
        line-height: 130%;
        font-size: 1.1em;
      }
    }
  }
}
